doctype html
html(lang="en")
    head
        title Промышленное программирование
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../../../common/shower/themes/ribbon/styles/screen-16x10.css")
        style(type="text/css").
            .caption {
                color: #FFF;
            }
    body.shower.list
        header.caption
            h1 Промышленное программирование
            p Лекция 9. Мониторинг
        section.slide#cover
            h2 Лекция 9. Мониторинг
            p Промышленное программирование @ МФТИ, 2020-2021
            img.cover(src="../../../common/cover.jpg", alt="")
            style(type="text/css").
                #cover h2 {
                    margin: 30px 0 0;
                    color: #FFF;
                    text-align: center;
                    font-size: 70px;
                    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                                 black -1px 1px 0, black 1px -1px 0;
                }
                #cover p {
                    margin: 10px 0 0;
                    text-align: center;
                    color: #FFF;
                    font-style: italic;
                    font-size: 20px;
                    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                                 black -1px 1px 0, black 1px -1px 0;
                }
                #cover p a {
                    color: #FFF;
                    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                                 black -1px 1px 0, black 1px -1px 0;
                }

        section.slide
            h2 Мониторинг (Википедия)
            ul
                li #[Мониторинг] — система постоянного наблюдения за явлениями и процессами, проходящими в окружающей среде и обществе, результаты которого служат для обоснования управленческих решений по обеспечению безопасности людей и объектов экономики. В рамках системы наблюдения происходит оценка, контроль объекта, управление состоянием объекта в зависимости от воздействия определённых факторов

        section.slide
            h2 Мониторинг
            ul
                li Достаточно часто бывает (если проект крупный), что проблемы доходят до продакшена (и до пользователей)
                li Цель любого мониторинга является – узнавать о проблеме до того, как это скажется на работе пользователей
                li Самый простой вариант - узнавать о проблемах от пользователей (например, форма обратной связи)
                li Много очевидных минусов

        section.slide
            h2 Мониторинг
            ul
                li На практике пользователи регистрируют не все случаи снижения качества сервиса, а только те, которые были восприняты ими как критические для выполнения бизнес задач
                li Кроме того, прежде чем обратиться в поддержку, часто пользователи пытаются решить или обойти проблему самостоятельно, ищут решение в интернете, советуются с коллегами и т.п., и часто им это удаётся
                li Об инцидентах, решённых пользователем самостоятельно, поддержке тоже ничего не известно

        section.slide
            h2 Мониторинг
            ul
                li Чем больше клиентов и чем сложнее IT-сервис, тем труднее становится отслеживать его качество по одним только отзывам или обращениям в службу поддержки
                li Получаемая таким образом информация неполна, множество мелких проблем в работе IT-сервиса остаются для его поставщика не известными

        section.slide
            h2 Мониторинг
            ul
                li Мониторинг IT-инфраструктуры
                li Мониторинг времени реакции бизнес-приложения
                li Real User Monitoring

        section.slide
            h2 Мониторинг ИТ-инфраструктуры
            ul
                li Здоровье ИТ-инфраструктуры коррелирует с доступностью сервиса
                li Можно отслеживать большое количество параметров инфраструктуры (доступность серверов, потребление ресурсов, коды ответов, внештатные ситуации, стабильность трафика, ...), чем больше потенциальных точек отказа - тем лучше
        
        section.slide
            h2 Мониторинг времени реакции бизнес-приложения
            ul
                li Роботы имитируют работу с сервисом, и сообщают о найденных проблемах
                li Сильное упрощение действий пользователя
                li Зачастую достаточно сложно поддерживать

        section.slide
            h2 Real User Monitoring
            ul
                li Пассивный мониторинг реальных действий пользователя
                li Чем больше информации о том, что делает пользователь (и что у него идет не так) - тем лучше
                li От realtime анализа логов до анализа сетевого трафика
                li Можно собирать информацию о сценариях использования, ошибках (которые даже не видны пользователю), производительности

        section.slide
            h2 Жалобы пользователей
            ul
                li При этом (если есть возможность) отказываться от службы поддержки нельзя
                li Но можно добавить автоматического анализа (и правил ручной обработки) для поступающих жалоб
                li Количество жалоб определенного типа - тоже сигнал для мониторинга
                li Жалобы пользователей позволяют находить и диагностировать проблемы, невидимые для текущей системы мониторинга

        section.slide
            h2 Инструменты
            ul
                li Существует #[a(href="https://habr.com/ru/company/pc-administrator/blog/304356/") огромное количество инструментов]
                li Можно найти решение для любой задачи
                li Можно выделить (субъективно): Prometheus + Grafana, Firebase Crashlytics, Sentry

        div(class="progress")
        script(src="../../../common/shower/shower.min.js")